%section.no-padding-bottom.no-min-height
  .container
    .centered-row
      %h2 Meet Our Coaches
      %p{style: 'max-width: 90% !important;'}
        The coaches at Craft Academy have decades of combined experience programming and helping others learn how to program. They understand the most important traits to become a successful contributing member of a development team - helping you with your career goals. They are passionate and devoted educators and strive to make every student feel supported. At the same time, you can expect them to push you out of your comfort zone. That's how we learn.

%section.full-slider{style: 'padding: 0px !important;'}
  .slider
    - data.coaches.each do | coach |
      .slide
        .container
          .profile-row
            .image.show-desktop
              = image_tag("people/#{coach[:image]}")
            .copy
              %h4.leader= "#{coach[:title]}"
              %h2= "#{coach[:first_name]} #{coach[:last_name]}"
              - if coach[:testimonial]
                %blockquote= coach[:testimonial]
              %p= coach[:summary]
              -#%blockquote= coach[:testimonial]
            .image.hide-desktop.no-padding
              = image_tag("people/#{coach[:image]}")
